<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

 return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => \Doctrine\DBAL\Driver\PDOSqlite\Driver::class,
                'params' => [
                    'path' => 'data/db.sqlite', // Caminho para o arquivo do banco de dados SQLite
                ],
            ],
        ],
        'configuration' => [
            'orm_default' => [
                'string_functions' => [
                    'YEAR' => 'DoctrineExtensions\Query\Mysql\Year',
                    'Month' => 'DoctrineExtensions\Query\Mysql\Month',
                    'Day' => 'DoctrineExtensions\Query\Mysql\Day',
                    'FIND_IN_SET' => 'DoctrineExtensions\Query\Mysql\FindInSet'
                ],
            ],
        ],
    ],
];